// #container {
//   text-align: center;

//   position: absolute;
//   left: 0;
//   right: 0;
//   top: 50%;
//   transform: translateY(-50%);
// }

// #container strong {
//   font-size: 20px;
//   line-height: 26px;
// }

// #container p {
//   font-size: 16px;
//   line-height: 22px;

//   color: #8c8c8c;

//   margin: 0;
// }

// #container a {
//   text-decoration: none;
// }

/* Estilo para el contenedor principal del formulario */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Estilo para los elementos del formulario */
ion-item {
  margin-bottom: 20px; /* Espacio entre los elementos del formulario */
}

/* Estilo para el botón de inicio de sesión */
ion-button {
  --background: #3880ff; /* Color de fondo del botón */
  --color: #ffffff; /* Color del texto del botón */
  --border-radius: 10px; /* Radio de borde del botón */
}

/* Estilo para el título del formulario cuando se colapsa */
ion-title[size="large"] {
  font-size: 24px; /* Tamaño de fuente del título */
}
