<ion-header mode="md">
  <ion-toolbar>
    <ion-title>API</ion-title>
    <!-- Botones de acciones -->
    <ion-buttons slot="end">
      
      <ion-button (click)="salir()" color="danger" size="small">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>

      <ion-button [routerLink]="['/crear-cuenta']" color="primary" size="small">
        <ion-icon slot="icon-only" name="person-add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <!-- Contenido de la página -->
  <div class="container">
    <form>
      <!-- buscar por persona -->
      <ion-searchbar #personas (keyup.enter)="buscarPerson(personas)" animated="true"
        placeholder="Buscar Persona..."></ion-searchbar>
      <ion-card *ngFor="let item of persona">
        <img alt="Silhouette of mountains" src="https://image.tmdb.org/t/p/original/{{item.profile_path}}">
        <ion-card-header>
          <ion-card-title>
            {{item.original_name}}
          </ion-card-title>
          <ion-card-subtitle>
            {{item.known_for_department}}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content *ngFor="let known_for of item.known_for">
          {{known_for.overview}}
        </ion-card-content>
      </ion-card>


      <!-- buscar por pelicula -->
      <ion-searchbar #nombre (keyup.enter)="searchMovies(nombre)" animated="true"
        placeholder="Buscar Pelicula..."></ion-searchbar>
      <ion-card *ngFor="let item of peliculas">
        <img alt="Silhouette of mountains" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}">
        <ion-card-header>
          <ion-card-title>
            {{item.original_title}}
          </ion-card-title>
          <ion-card-subtitle>
            {{item.release_date}}
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>{{item.overview}}</ion-card-content>
      </ion-card>
    </form>


    <!-- mostar las peliculas en la pagina principal -->
    <ion-card *ngFor="let item of mostrar">
      <img alt="Silhouette of mountains" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}">
      <ion-card-title>
        {{item.original_title}}
      </ion-card-title>
      <ion-card-subtitle>
        {{item.release_date}}
      </ion-card-subtitle>
    </ion-card>


  </div>
</ion-content>